.card-container {
    position: fixed;
    top: 98px;
    bottom: 0;
    width: 250px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card-title {
    background: linear-gradient(to right,  navy, rgb(255, 69, 0));
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.todays-tasks-title {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}


.task-label {
    margin-top: 10px;
    transition: 0.3s ease;
}

.task-label:hover{
    color : blue;
}

.close-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.add-new-task-btn {
    background-image: linear-gradient(to right,navy,blue,indigo);
    color : white;
    text-align: center !important;
    margin-bottom: 15px !important;
    background-color: transparent !important;
    border: none !important;
    transition: 0.3s ease-in-out;
    text-wrap : nowrap !important;
}
.add-new-task-btn:hover{
    background-image: linear-gradient(to left, navy, blue,indigo);
}